@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poiret+One&display=swap');


body {
    background-color: #151515;
}

#mainheading {
    font-family: mypricedown;
    color: #DC2C50;
    font-size: 100px;
    text-align: center;
    transition: 1s color;
}

#mainheading:hover{
    color:rgb(226, 29, 68);
    transition-delay: 1s;
}

#author{
    text-align: center;
    padding-top: 2px;
    color: #F7F7F7;
    letter-spacing: 1px;
    font-family: 'Fredoka One', cursive;
}

#author:hover{
    text-align: center;
    color: white;
    letter-spacing: 1px;
    font-family: 'Fredoka One', cursive;
}

#horizontal_line{
    height: 1px;
    color: red;
    background-color: red;
    border: none;
}

#horizontal_line:hover{
    
}

#intro{
    margin-top: 2px;
    font-family: mypoirentone;
    text-align: center;
    color: white;
}

@font-face {
    font-family: mypricedown;
    src: url("fonts/pricedown.ttf") format("truetype");
    font-weight: bold;
  }

@font-face {
    font-family: myblowbrush;
    src: url("fonts/blowbrush.ttf") format("truetype");
    font-weight: italic;
  }

  @font-face {
    font-family: mypoirentone;
    src: url("fonts/PoiretOne-Regular.ttf") format("truetype");
    font-weight: italic;
  }

  @font-face {
    font-family: mypontanosans;
    src: url("fonts/PontanoSans-Regular.ttf") format("truetype");
    font-weight: bold;
  }
  
  
#top_head:hover{
    border: 1px solid red;
    transition-delay: 1s;
}